* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  height: 20vh;
  
}

h1,h4,h5 {
  display: flex;
  justify-content: center;
  color: white;
  margin: auto;
}

body {
  margin: auto;
  height: 100vh;
  background-image: url(./img/layered-waves.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: flex;
  border: 5px solid green;
  margin: auto;
  width: 30%;
  justify-content: center;
}



#linkedin {
  margin-right: 10px;
  background-image: url(./img/icons8-linkedin-60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#linkedin:hover {
  background-color: #0b598a;
  border-radius: 35%;

}

#github {
  margin-right: 10px;
  background-image: url(./img/github60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#github:hover {
  background-color: #100000;
  border-radius: 35%
}

#instagram {
  margin-right: 10px;
  background-image: url(./img/insta60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#instagram:hover {
  background-color: #E4405F;
  border-radius: 35%
}

#twitter {
  margin-right: 10px;
  background-image: url(./img/icons8-twitter-60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#twitter:hover {
  background-color: #0077b5;
  border-radius: 35%
}

footer {
  justify-content: center;
  flex-direction: row;
  gap: 5px;
  margin-top: 100px;
}