* {
  margin: 0;
  padding: 0px;
  display: border;
  box-sizing: border-box;
}

h1,
h2,
h3,
h5 {
  display: flex;
  font-family: monospace;
  justify-content: center;
  color: white;
}

h3 {
  font-size: larger;
}

img {
  display: flex;
  padding: 20px;
  max-height: 500px;
}

.body {
  padding-top: 25px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  background-image:url(./img/layered-waves.svg);
  background-repeat: no-repeat ;
  background-size: cover;
  align-items: center;
  justify-items: center;
}

main { 
  display: flex;
  flex-direction: column;
}

.redes {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-top: 10px;
}

#linkedin {
  margin-right: 10px;
  background-image: url(./img/icons8-linkedin-60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#linkedin:hover {
  background-color: #0b598a;
  border-radius: 35%;

}

#github {
  margin-right: 10px;
  background-image: url(./img/github60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#github:hover {
  background-color: #100000;
  border-radius: 35%
}

#instagram {
  margin-right: 10px;
  background-image: url(./img/insta60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#instagram:hover {
  background-color: #E4405F;
  border-radius: 35%
}

#twitter {
  margin-right: 12px;
  background-image: url(./img/icons8-twitter-60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#twitter:hover {
  background-color: #0077b5;
  border-radius: 35%
}


footer {
  display: flex;
  padding-top: 100px;
  justify-content: center;
}

@media screen and (max-width: 600px), (max-height: 700px)  {
  body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
  }

  main {
    padding-top: 10%;
  }

  img {
    display: flex;
    margin: auto;
    margin-bottom: 10%;
  }

  footer {
    display: none;
  }
}

/* @media screen and (min-width: 1340px) {
  body {
    width: 100vw;
    max-height: 1340px;
  }
} */
