h1,
h2,
h3 {
  display: flex;
  font-family: monospace;
  position: relative;
  justify-content: center;
  color: white;

}

h1 {
  margin-top: 400px;
}

body {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

.linha {
  width: 250px;
  height: 2px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: white;
}

.redes {
  padding-top: 20px;
  padding-left: 50px;
  position: relative;
  display: flex;


}

#linkedin {
  margin-right: 10px;
  background-image: url(./img/icons8-linkedin-60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#linkedin:hover {
  background-color: #0077b5;
}

#github {
  margin-right: 10px;
  background-image: url(./img/github60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#github:hover {
  background-color: #100000;
}

#instagram {
  margin-right: 10px;
  background-image: url(./img/insta60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#instagram:hover {
  background-color: #E4405F;
}

#twitter {
  margin-right: 10px;
  background-image: url(./img/icons8-twitter-60.png);
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  font-family: monospace;
  text-decoration: none;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

#twitter:hover {
  background-color: #0b598a;
}

h5 {
  color: white;
  font-family: monospace;
}

.footer {
  margin-top: 345px;
  display: flex;
  position: relative;
  justify-content: center;
}